// COLORS
$primary-color:#272341;
$secondary-color:#f25f4c;

$font-color: #f25f4c;

$background-color:  #fff;

$button-color: #ff8906;
$button-text: #232946;

$highlight-color: orange;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;