@use '../../Style/Global/base';
@use '../../Style/Global/layout';

#title {
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 0px;
    background: base.$background-color;
    font-weight: 400;
    color: base.$button-color;
    padding: 0rem 5.6rem;
    margin-top: 0;
    margin-bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
  
    /* background: url("/src/assets/[your-image].png");
    background-position: center;
    background-size: cover; */
    .title-title {
      font-size: 5em;
      font-weight: 700;
      margin-bottom: 3.2rem;
      text-align: left;
      z-index: 10;    
    }
    .title-button {
      display: flex;
      & a {
        font-size: 5em;
        }
      }
}