@use '../../Style/Global/base';
@use '../../Style/Global/layout';


.titleSection{
  position: relative;
  left: 5vw;
  right:1vw;
  top: 15vh;
  .title-title{
    margin-bottom: 0%;
    font-size: 10vh;
    @media screen and (max-width: 600px) {
        font-size: 10vw;
      }
    }
  .title-button{
    margin-top: 0;
    margin-left: 1vh;
    font-size: 3vh;
    font-weight: bold;
    border-style: solid;
    padding: 0.8rem 1em;
    border-color: base.$primary-color;
    @media screen and (max-width: 600px) {
      font-size: 3.5vw;
    }
    &:hover{
      cursor: pointer;
      border-color: base.$secondary-color;
      color: base.$tertiary-color;
      background-color: base.$secondary-color;
      transition: background-color 500ms linear;
      -webkit-transition: background-color 500ms linear;
      -ms-transition: background-color 500ms linear;     
    }
  }
}
body{
  overflow: hidden;
}