@use '../../Style/Global/base';
@use '../../Style/Global/layout';

.Tilt:hover{
    z-index: 3000;
}
.bg-base{
    background-color: base.$primary-color;
}
.bg-base-green{
    background-color: green;
}
.bg-base-blue{
    background-color: blue;
}
.bg-base-red{
        background-color: red;
}
.bg-base-yellow{
    background-color: yellow;
}   
.bg-base-pink{
    background-color: pink;
}       