@use '../Style/Global/layout';
@use '../Style/Global/base';

.App{
    height:100vh;
}
.slideShow {
    position: relative;
    top: 22vh;
    @media screen and (max-width: 600px) {
        top: 3.5vh;
      }
}