@use '../../Style/Global/base';
@use '../../Style/Global/layout';

.carosol{
    justify-content: center;
}
.carosolBox{
    z-index: 1;
    height: 40%;
}

.icon{
    position: relative;
    top:40%;
    font-size: 5em;
    color: base.$primary-color;
}
