@use '../../Style/Global/base';
@use '../../Style/Global/layout';

.carosol{
    justify-content: center;
    align-items: center;
}
.carosolBox{
    z-index: 1;
    height: 40%;
    position: relative;
}

.icon{
    position: relative;
    top:40%;
    font-size: 5em;
    color: base.$primary-color;
    
    :hover{
        color: gray;
        opacity: 0.2;
        cursor: pointer;
    }
    :focus{
        color: gray;
        opacity: 0.2;
        cursor: pointer;
    }
}
