@use '../../Style/Global/base';

.link{
    color: base.$primary-color;
}
.footer{
    position: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    width:100%;
    left: 0;
    bottom: 0;
}
   
.footerIcon{
    padding-bottom: 0%;
    bottom: 0;
    margin-bottom: 0%;
}